@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Lato&family=Lobster&family=Raleway&family=Merriweather:wght@900&display=swap');

body {
  margin: 0;
  background-color: #fdefe6;

  position: relative;
  height: 100vh;
}

/* body::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Change the color and opacity as needed */
/* z-index: -2; */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  max-height: 150px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: maroon;
  font-weight: 600;
  font-family: 'Comfortaa', sans-serif;
}

main {
  display: flex;
}

.info {
  margin: auto 75px;
}

.info .up-heading {
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  font-size: 55px;
  color: maroon;
}

.info .down-heading {
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  font-size: 55px;
  color: maroon;
}

.info p {
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  color: maroon;
  font-weight: 600;
  font-family: 'Comfortaa', sans-serif;
}

.side-img {
  background-color: transparent;
  background-image: url('img/pexels-mart-production-7550298.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.side-img img {
  width: 100%;
}
/* .cta-container {
  margin-top: 20px;
} */

.cta-button {
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #800000; /* Choose your desired button color */
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  /* transition: background-color 0.5s ease; */
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 3px;
}

.cta-button:hover {
  background-color: rgba(
    128,
    0,
    0,
    0.8555
  ); /* Change the hover color as needed */
  transition: background-color 0.5s ease;
}

span {
  color: sienna;
  font-family: 'Lobster', sans-serif;
}

@media only screen and (max-width: 768px) {
  * {
    transition: all ease-in 0.3s;
  }
  .logo img {
    max-height: 100px;
  }

  .cta-button {
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #800000; /* Choose your desired button color */
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    /* transition: background-color 0.5s ease; */
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
  }

  main {
    display: block;
  }

  .info {
    margin: auto 25px;
  }

  .info .up-heading,
  .info .down-heading {
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: maroon;
  }

  .side-img {
    margin: 30px auto;
    background-color: transparent;
    background-image: url('img/pexels-mart-production-7550298.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .info p {
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    color: maroon;
    /* font-weight: 600; */
    font-family: 'Comfortaa', sans-serif;
  }

  span {
    color: cornflowerblue;
    font-family: 'Lobster', sans-serif;
  }
}
